
services: 
  order-service:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8004:8004"
    volumes:
      - ./app:/app/app
    env_file:
      - .env
    depends_on:
      mongodb:
        condition: service_healthy

    networks:
      - order-network



  mongodb:
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - order-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 5


networks:
  order-network:
    driver: bridge

volumes:
  mongodb_data:
