version: '3.8'

services: 
  order-service:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    volumes:
      - ./app:/app/app
    env_file:
      - .env
    depends_on:
      - mongodb
    networks:
      - order-network

  mongodb:
    image: mongo:5.0
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - order-network


networks:
  order-network:
    driver: bridge

volumes:
  mongodb_data:
